<header>
  <img src="/images/logo.png" alt="Logo de Cycloove">
</header>

<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />

    <span></span>
    <span></span>
    <span></span>

    <ul id="menu">
      <a href="/"><li>Accueil</li></a>
      <a href="/login"><li>Connexion</li></a>

      {{#if is_logged}}
        <a href="/user/account"><li>Mon compte</li></a>
        <a href="/user/logout"><li>Déconnexion</li></a>
      {{/if}}
    </ul>
  </div>
</nav>
