<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cycloove</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
	integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
	crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
	integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
	crossorigin=""></script>
  <link rel="stylesheet" href="/app.css" />
  <link rel="stylesheet" href="/style.css">
  <link rel="manifest" href="../../manifest.json">
	<link rel="apple-touch-icon" href="images/cycloove.png">
	<meta name="apple-mobile-web-app-status-bar" content="#85c11e">
	<meta name="theme-color" content="#85c11e">
  <link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
  <script src="https://unpkg.com/js-datepicker"></script>
	<script src="/app.js" defer></script>
</head>

<body>
  {{>_header}}

  <main>
    {{{ body }}}
  </main>

  {{>_footer}}
</body>

</html>
