<section class="container account">
  <h1>mon compte</h1>
  <span class="small-title">Informations personnelles</span>
  <ul class="details">
    <li>Prénom: {{user.firstname}}</li>
    <li>Nom: {{user.lastname}}</li>
    <li>Email: {{user.email}}</li>
  </ul>

  <hr>

  {{#if user.reservations}}
    <div class="content">
      <span class="small-title">Réservations</span>
      <div class="bookings__list">
        {{#each user.reservations as |reservation|}}
          <div class="booking">
            <p class="booking__place">{{reservation.name}}</p>
            <p>{{reservation.address}}</p>
            <p>Date: {{reservation.reservation.date}}</p>
            <p>Heure de début: {{reservation.reservation.begin}}</p>
            <p>Heure de fin: {{reservation.reservation.end}}</p>
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}
</section>
