<div class="container">
  <div class="content">
  <h3>Je réserve un emplacement pour mon vélo</h3>

  <form class="booking-location" action="/user/book" method="POST">
    <p class="booking-location__name">Nom du lieu</p>
    <p class="booking-location__available">Nombre de places disponibles {{location.available_location}}/{{location.location}}</p>
    <div class="form-group">
      <label for="reservation_date">Sélectionner une date</label>
      <input type="text" id="date" name="reservation_date" required>
    </div>

    <div class="form-group">
      <label for="reservation">Sélectionner un créneau horaire</label>
      <br>
      De <input type="time" id="appt1" name="reservation_begin" required>
      <br>
      à <input type="time" id="appt2" name="reservation_end" required>
    </div>

    <input type="hidden" name="location_id" value="{{location_id}}">
    <input type="submit" value="Valider">
  </form>
</div>

<script>
  const picker = datepicker('#date', {
    formatter: (input, date, instance) => {
      input.value = date.toLocaleDateString()
    }
  })
  picker.setDate(new Date(), true)

  let dateInput = document.querySelector('#date')
  let today = document.querySelector('#date').value = new Date();
  let minutes = today.getMinutes();

  if(minutes < 10){
    minutes = "0" + minutes;
  }

  document.querySelector('#appt1').value = today.getHours() + ":" + minutes;
  document.querySelector('#appt2').value = today.getHours() + 2 + ":" + minutes;
</script>
