<section class="container">
  <div class="parking-spaces">
    Places disponibles <span class="availableSpaces"></span>/<span class="allSpaces"></span>
  </div>

  <!-- MAP LEAFLET -->
  <div id='map'></div>
</section>
