<section class="container login">
  <form action="/user/login" method="post">
    <span class="big-title">Formulaire de connexion</span>

    {{#if errors_login}}
      <ul>
        {{#each errors_login as |error|}}
          <li class="invalid">{{error.msg}}</l>
        {{/each}}
      </ul>
    {{/if}}

    <input class="box" type="email" name="email" id="email" placeholder="E-Mail*" />
    <input class="box" type="password" name="password" id="password" placeholder="Mot de passe*" />
    <input type="submit" id="submitLogin" name="submitLogin" value="Se connecter" />
  </form>
  <form action="/user/register" method="post">
    <span class="big-title">Formulaire d'inscription</span>

    {{#if errors_register}}
      <ul>
        {{#each errors_register as |error|}}
          <li class="invalid">{{error.msg}}</l>
        {{/each}}
      </ul>
    {{/if}}

    <input class="box" type="text" name="firstname" id="firstname" placeholder="Prénom*" />
    <input class="box" type="text" name="lastname" id="lastname" placeholder="Nom*" />
    <input class="box" type="email" name="email" id="email" placeholder="E-Mail*" />
    <input class="box" type="password" name="password" id="password" placeholder="Mot de passe*" />
    <input type="submit" id="submitRegister" name="submitRegister" value="S'inscrire" />
  </form>
</div>
