html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}
html,
body {
  font-family: Arial;
}
body {
  min-height: 100vh;
}
#map {
  height: 50vh;
  min-height: 300px;
  width: 85%;
  min-width: 280px;
  margin: 5vh auto 0;
  display: block;
  position: relative;
  z-index: 99;
}

header img {
  padding-top: 2vh;
  margin: 0 auto;
  width: 160px;
  display: block;
}

/*Burger Menu START*/

#menuToggle {
  display: block;
  position: absolute;
  top: 3vh;
  left: 5vw;
  z-index: 999;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  z-index: 998;
  width: 90vw;
  outline: none;
  max-width: 400px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  box-shadow: 0px 1px 11px black;
  padding-top: 125px;
  box-sizing: border-box;
  background: white;
  box-shadow: 2px 1px 1px rgb(151, 193, 32);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
#menu li {
  padding: 10px 0;
  font-size: 22px;
  transition: 0.5s;
  text-decoration: underline rgb(151, 193, 32);
  text-underline-position: under;
  line-height: 1;
}

#menu li:hover {
  color: black;
}
#menuToggle input:checked ~ ul {
  transform: none;
}

/* Burger Menu END*/

.parking-spaces {
  text-align: center;
  color: white;
  font-size: 2.7vh;
  width: 80%;
  padding: 20px;
  font-weight: 600;
  box-sizing: border-box;
  background-color: #97c120;
  margin: 10vh auto 4vh;
}

footer {
  color: black;
  width: 100%;
  font-size: 12px;
  bottom: 0;
  text-align: center;
  margin: 70px auto 35px;
}

/*Map modification */
.leaflet-popup {
  max-width: 250px !important;
  text-align: center !important;
  min-height: 90px;
}
.leaflet-popup p {
  text-align: center !important;
}
.marker--name {
  font-size: 16px;
}
.marker-informations {
  text-decoration: none;
  color: black !important;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.marker--location {
  display: block;
  font-size: 16px;
  font-weight: bold;
}
.leaflet-container a.btn-book {
  color: #ffffff;
}

.modal--connexion {
  display: none;
  width: 100%;
  height: 100%;
  top: 0 !important;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  top: 10vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}
.modal--connexion .form {
  position: absolute;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background-color: white;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.form h2 {
  font-size: 30px;
}
.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  width: 70%;
}
.form-group input {
  margin-top: 5px;
  border: 2px solid black;
  height: 30px;
}
input[type='submit'] {
  width: 150px;
  font-size: 20px;
  background-color: #97c120;
  color: white;
  border: none;
  padding: 10px 0;
}

/*Reservations*/
.content {
  box-sizing: border-box;
  padding-top: 10vh;
}
.content h2 {
  font-size: 28px;
  text-align: center;
  color: black;
}
.content h3 {
  font-size: 18px;
  text-align: center;
}
.bookings__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.booking {
  width: 85%;
  min-width: 300px;
  background-color: rgb(240, 240, 240);
  margin: 20px auto;
  box-sizing: border-box;
  padding: 15px;
  line-height: 1.5;
  font-size: 18px;
  text-align: left;
}
.booking__place {
  font-size: 20px;
  color: #97c120;
  font-weight: bold;
}

.booking-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
}

.booking-location__name {
  margin: 10px auto;
  color: #97c120;
  font-size: 26px;
}
.booking-location input[type='submit'] {
  margin-top: 10px;
}
.booking-location input {
  margin-top: 10px;
  outline: none;
}
.booking-location__available {
  padding: 10px;
  box-sizing: border-box;
  width: 70%;
  text-align: center;
  line-height: 1.2;
  border: 1px solid #97c120;
}
