/* -------------------------------------------------------------------------- */
/*                                   STYLES                                   */
/* -------------------------------------------------------------------------- */

/* --------------------------------- GENERAL -------------------------------- */

* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form {
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px lightgrey;
  padding: 15px;
  box-sizing: border-box;
}

form input {
  margin: 15px auto 0;
  width: 80%;
  padding: 5px;
  border: 2px solid black;
  display: block;
}

form input[type='submit'] {
  width: 160px;
  font-size: 20px;
  color: white;
  background-color: #97c120;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

h1 {
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 50px;
}

header {
  padding: 20px;
  border-bottom: solid 2px #000000;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: end;
}

nav a {
  padding-bottom: 6px;
  margin-left: 16px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition-duration: 0.3s;
}

nav a.active {
  border-bottom: solid 2px #97c120;
}

nav a:hover {
  opacity: 0.6;
}

.container {
  width: 100%;
  margin-top: 50px;
}

.big-title {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
}

.small-title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}

.invalid {
  color: rgb(182, 4, 4);
}

.toUpper {
  text-transform: uppercase;
}

/* ---------------------------------- HOME ---------------------------------- */

.login {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  justify-items: center;
  align-content: start;
  gap: 40px;
}

/* --------------------------------- ACCOUNT -------------------------------- */

.account {
  display: grid;
  grid-template-columns: calc(100% - 100px);
  align-items: start;
  align-content: start;
  justify-content: center;
  text-align: center;
}

.account .details {
  margin: 0 0 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px #000000;
}

.account .reservations {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.account .reservations li {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-bottom: 20px;
}

/* --------------------------------- BUTTONS -------------------------------- */

.btn-book {
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 14px;
  background-color: #97c120;
  display: inline-block;
  text-decoration: none;
}
